.list {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
}

.item {
    display: flex;
    flex-direction: column;
    width: calc(50% - 17px);
    gap: 15px;
    padding: 20px 15px;
    border-radius: var(--border-radius);
    background-color: #D9D9D9;

    * {
        color: #000;
    }

    h1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 32px;
        line-height: 1.2;
    }
}


